deepface==0.0.93
facenet-pytorch==2.6.0
mediapipe==0.10.21
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
psutil==7.0.0
pytest-shutil==1.8.1
streamlit==1.43.2
streamlit-option-menu==0.4.0
tensorflow==2.19.0
torch==2.2.2
torchvision==0.17.2
pandas==2.2.3
gitdb==4.0.12
GitPython==3.1.44